*~
.~*
*.pyc
TAGS
*.so
*.mp4
*Debug/
\#*\#
.\#*
gpu_flops
matrixMulCUBLAS
matrixMulCUBLAS.o
test
counterexample.py
*_flymake.py
*.log
*.out
*.synctex.gz
*.fls
*latexmk
*.aux
*.bbl
*.blg
nfm-2019.pdf
.directory
